@font-face {
    /*Importando uma fonte externa*/
    font-family: "Pricedow";
    /*Busca se existe uma fonte local instalada, caso nao, busca na internet pela URL passada*/
    src: local(Pricedow), url('../fontes/pricedow.ttf');
    font-weight: 800;
}

body {
    width: auto;
    height: auto;
}


.titulo {
    color: aliceblue;
    justify-content: center;
    align-content: center;
    font-family: Pricedow;
    font-size: 50pt;
}

p {
    color: white;
    text-align: justify;
    font-size: 15pt;
    align-content: center;
    justify-content: center;
}

.principal {
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: Pricedow;
    padding-left: 10px;
    padding-right: 10px;
    
}


.imagem {
    width: 250px;
    height: 250px;
}

.bordaredonda {
    border-radius: 150px;
    width: 250px;
    height: 250px;
}

.back {
    background-size: cover;
    height: min-content;
    background-repeat: space;
    background-color: rgba(0, 0, 0, 0.863);
    background-attachment: fixed;

}

.bordas{
    padding-left: 10px;
    padding-right: 10px;
}

.mgtopbot {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapa {
    width: 100%;
    height: 100%;
}